.progressing {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  line-height: 1;
  display: none;
}
.progressing p {
  font-family: arial;
  font-size: 1.12em;
  color: #333333;
  padding-top: 5.56em;
}
.progressing .progressing_inner {
  width: 9.38em;
  height: 9.38em;
  background: url(animgif.gif) no-repeat 50% 35%, #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -4.69em;
  margin-top: -4.69em;
}
